<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5p] %m%n%ex{0}</pattern>
        </encoder>
    </appender>

    <appender name="DAY_BASED_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>ExcelAuthorRemover.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>ExcelAuthorRemover.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5p %C{36}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAY_BASED_LOG" />
    </root>
</configuration>

